.job-edit-main{
  height:100%;
  width: 100vw;
  background-image: image-url('072.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5vh 15vw 5vh 35vw;
  background-attachment: fixed;
}