// transform: skewY(-10deg);
// これをフラッグにつける

.main{
  background-image: image-url('backimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.job-contents{

}
