<div class ="ad-cr">
 <h2>ありがとうございます</h2>
 <h2>会員情報の登録が完了しました！</h2>
  <div class ="thx-ad">
    <div class="thx-ad-btn">
      <%= link_to "NEXT",new_mypage_path,class:"crad-next"%>
    <div>
  </div>
</div>