<h3>
  検索
</h3>
<%= search_form_for @p, url: cravings_search_path do |f| %>
  <%= f.label :name_eq, '都道府県' %>
  <%= f.collection_select :address_prefecture_id_eq, @address_prefecture_id, :prefecture_id, :prefecture_id,  include_blank: '指定なし' %>
  <br>
  <%= f.submit '検索' %>
<% end %>

