* {
  box-sizing: border-box;
}



.pets-icon {
  width: 10vw;
  margin-right: 5vw;
}







.job-btn {
  display: inline-block;
  margin-right: 60px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fd9535;
  border: solid 2px #fd9535;
  border-radius: 3px;
  transition: .4s;
}

.job-btn:hover {
  background: #fd9535;
  color: white;
}

.craving-btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #59d15f;
  border: solid 2px #59d15f;
  border-radius: 3px;
  transition: .4s;
}

.craving-btn:hover {
  background: #59d15f;
  color: white;
}





