.nav{
  display: flex;
  justify-content: space-around;
}

.right{
  display: flex;
  align-items: center;

}

.li-mid{
  list-style: none;
  display: flex;
}

.li-right{
  display: flex;
  margin-left: 15vw;
  align-items: center;
}

.show-mypage{
  width: 6vw;
  height: auto;
  margin-right: 3vw;
}

.logout{
  width: 6vw;
  height: auto;
}


.login{
  width: 6vw;
  height: auto;
  margin-right: 3vw;
}

.sign-up{
  width: 7vw;
  height:auto;
}



.nickname{
  color: #454a66;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.pets-icon {
  width: 8vw;
  height: auto;
}



.job-btn {
  display: inline-block;
  margin-right: 60px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fd9535;
  border: solid 2px #fd9535;
  border-radius: 3px;
  transition: .4s;
  width: auto;
}

.job-btn:hover {
  background: #fd9535;
  color: white;
}

.craving-btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #59d15f;
  border: solid 2px #59d15f;
  border-radius: 3px;
  transition: .4s;
  width: auto;
}

.craving-btn:hover {
  background: #59d15f;
  color: white;
}





