<header>
</header>

  <div class = "main">
    <div class ="up-content">
    <div class="click-upload">
        <p>
          クリックしてファイルをアップロード※自分をアピールできる写真を載せてみよう。
        </p>
        <%= f.file_field :craving_picture,class:"craving-pic" %>
    </div>

    <div class ="address-content">
    </div>

    <div class ="history-past">
    </div>

    <div class ="tips">
    </div>


    <div class ="btn-mypage">
     <div class ="edit-btn">
     </div>

     <div class ="back-btn">
     </div>
    </div>



</div>

<footer>
</footer>