<%# 下部分 %>
<div class='footer-contents'>
  <p class='footer-title'>
    気軽に頼んで、必要な時に気持ちよく支え合いましょう
  </p>
  <h2 class='footer-explain'>
    どんな依頼または申し入れがあるか確認してみよう
  </h2>
  <div class='jobs-btn'>
    散歩を頼みたい方の一覧はこちら
    <a href="#" class="btn-job-stitch">散歩依頼</a>
    散歩をしたい方の一覧はこちら
    <a href="#" class="btn-craving-stitch">散歩提供</a>
  </div>
  <div class = ></div>
</div>

<%# //下部分 %>

<div class='footer'>
  <%=  image_tag("logomini.png", class:"logo-white") %>
  <p>© Pets</p>
</div>