<%# 下部分 %>
<div class='footer-contents'>
 <div class = "job-explain">
   <h2 class='footer-explain'>
    どんな依頼または申し入れがあるか確認してみよう
   </h2>
  </div>
  <div class ="job-info">
    <p class = "btn-job-text">
     散歩を頼みたい方の一覧はこちら
    </p>
    <p class = "btn-craving-text"> 
     散歩をしたい方の一覧はこちら
    </p>
   </div>
   <ul class='job-craving-btn'>
     <li><%= link_to '依頼一覧', "jobs-path", class: "btn-job-stitch " %></li>
     <li><%= link_to '提供一覧', "#", class: "btn-craving-stitch" %></li>
   </ul>
</div>
<%# //下部分 %>

<%#下のロゴ%>
<div class='footer'>
  <%=  image_tag("logomini.png", class:"logo-white") %>
  <%# <p class = "pets">© Pets</p> %>
</div>