<footer class='second_footer'>
  <div class='second_footer_text_wrap'>
    <p class='second_footer_text'>プライバシーポリシー</p>
    <p class='second_footer_text'>利用規約</p>
  </div>
  <%= image_tag "logomini.png", class:"second_footer_logo"%>
</footer>