.craving-new-main{
  height:100%;
  width: 100vw;
  background-image: image-url('new_cr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5vh 15vw 5vh 35vw;
  background-attachment: fixed;
}

.cr-new-backbtn{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #59d15f;
  border: solid 2px #59d15f;
  border-radius: 3px;
  transition: .4s;
  width: auto;
}

.cr-new-backbtn:hover {
  background: #59d15f;
  color: white;
}

.sampo-btn{
  width: 25vw;
  height: 8vh;
  border: solid 2px;
  border-radius: 15px;
  border-color: rgb(27, 23, 23);
  background-color: rgb(253, 175, 214);
  color: rgb(71, 55, 55);
  font-weight: bold;
}

.btn-contents{
  padding-left: 3vw;
}
