.my-main{
  display: flex;
  flex-direction: column;
  padding: 5vh 35vw;
}

.intro-field{
  width: 80%;
  height: 8vh;
  /* resize: none;  */
}

.foot{
  display: flex;
  justify-content: center;
}

.mypage-pic{
  margin-bottom: 3vh;
}

.my-pic{
  max-width: 100%;
}