.my-show-head{
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.my-show-main{
  height:100%;
  width: 100vw;
  background-image: image-url('yellow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 
}

.my-nick{
  padding-left: 20vw;
}

.mypage-show-pic{
  height: 40vh;
  width: 30vw;
  border-radius: 25px;
}

.mypage-show-con{
  display: flex;
  justify-content: space-evenly;
  padding: 5vh 13vw;
}

.self-text{
  margin-left: 5vw;
}

.history-past{
  display: flex;
  justify-content: space-evenly;
}

.history_list{
  list-style: none;
}

.history_list{
  list-style: none;
}


.my-link-btn{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

table {
	table-layout: fixed;
}

.mynego{
  border: solid 2px;
  border-radius: 5px;
  border-color: rgb(206, 200, 200);
  background-color: rgb(206, 200, 200);
}
