.my-show-head{
  margin-top: 5vh;
}

.my-job-btn{
  margin-left: 15vw;
}

.my-root-btn{
  margin-left: 15vw;
}

.my-cr-btn{
  margin-left: 15vw;
}

.my-show-main{
  height:100%;
  width: 100vw;
  background-image: image-url('yellow.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.my-nick{
  padding-left: 20vw;
}

.mypage-show-pic{
  height: 40vh;
  width: 30vw;
  border-radius: 25px;
}

.mypage-show-con{
  display: flex;
  justify-content: space-evenly;
  padding: 5vh 13vw;
}

.self-text{
  margin-left: 5vw;
}

.history-past{
  display: flex;
  justify-content: space-evenly;
}

.history_list{
  list-style: none;
}

.history_list{
  list-style: none;
}


.my-link-btn{
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

table {
	table-layout: fixed;
}
