* {
  box-sizing: border-box;
}


.text-job {
  height:800px;
  width: 100vw;
  background-image: image-url('top.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.main-contents{
  display: flex;
  flex-direction: column;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  
}

.jobs-explain{
  display: flex;
  justify-content: center;
}

.job-infos{
  display: flex;
  justify-content: space-around;
}

// 中央の利用方法
.how{
  padding-left: 40px;
}

.how-to-lists{
  display: flex;
  justify-content: space-around;
  list-style: none;
  

}

.register-link{
  text-decoration: none;
  font-weight: bold;
  color: chocolate;
}

.regi-ex{
  padding-left: 40px;
}
.pets-regi-pic{
  height:30vh ;
  max-width: 100%;

}

.posting{
  padding-left: 40px;
}

.pets-post-pic{
  height:30vh ;
  max-width: 100%;
}

.waiting{
  padding-left: 40px;
}

.pets-wait-pic{
  height:30vh ;
  max-width: 100%;
}


// 依頼、提供ボタン
.job-craving-btn{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.btn-job-stitch {
  display: inline-block;
  text-decoration: none;
  background: #fd9535;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #fd9535;
  border: dashed 1px #FFF;
  transition: .4s;
}

.btn-job-stitch:hover {
  background:#fd9535(17, 78%, 55%);
  box-shadow: 0px 0px 0px 5px #f5410a;
}

.btn-craving-stitch {
  display: inline-block;
  text-decoration: none;
  background: #59d15f;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #59d15f;
  border: dashed 1px #FFF;
  transition: .4s;
}

.btn-craving-stitch:hover {
  background: #41bd07;
  box-shadow: 0px 0px 0px 5px #299237;
}
// 依頼・提供ボタン


.pets-footer{
  display: flex;
  justify-content: center;
}
